.title, .subtitle {
    /* text-align: center; */
    margin: 0.2em;
}

.content {
    color: white;
}

.content a {
    color: white;
    text-decoration: none;
}

.title {
    /* color: #FF6363; */
    color: rgb(121, 237, 91);
    font-size: 1.5em;
}

.post {
    padding: 1em;
    margin: 1em;
    width: 50vw;
    /* font-size: 1.em; */
    background: rgba(81, 73, 87, 0.534);
    box-shadow: 2px 3px rgb(121, 237, 91);
    /* border: 2px solid rgba(10, 47, 211, 0.445); */
}

.title-heading p {
    /* margin: 0.5em;
    margin-left: 1.5em; */
    width: max-content;
    margin: auto;
    font-size: 2em;
    color:rgb(121, 237, 91);
    font-weight: bold;
    text-transform: uppercase;
}
.content-box {
    width: 50vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.comment-button {
    /* background: rgba(38, 10, 247, 0.719); */
    background: rgb(27, 107, 7);
    /* color: rgba(0, 212, 255, 0.9); */
    color: white;
    height: max-content;
    padding: 0.5em;
    border: 1px solid rgba(0, 212, 255, 0.6);
    transition: all .3s ease;
}

.comment-button:hover{
    transform: scale(1.125);
    color: rgb(214, 227, 31);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;  
}

.comment-button {
    border: none;
    /* padding: 12px 24px; */
    border-radius: 24px;
    font-size: 0.8rem;  
    letter-spacing: 2px;
    cursor: pointer;
}

.subtitle {
    font-size: 1em;
}

.comment-button-container {
    width: fit-content;
    margin: auto;
}

